@tailwind base;
@tailwind components;
@tailwind utilities;

/* .container {
  background-image: url(https://grainy-gradients.vercel.app/noise.svg);
  background-image: url(../../public/bg/noise.svg);
  height: 100vh;
  width: 100%;
} */

@import "tailwindcss/base";

@layer base {
  html {
    @apply h-full w-full bg-repeat text-neutral-900 antialiased bg-blend-hard-light;
    color-scheme: light;
    background-image: url("../../public/bg/noise.png");
    background-color: hsl(0, 0%, 93%);
    /* background-color: rgb(231, 231, 231); */
    /* opacity: 0.6; */
  }

  body {
    @apply h-full w-full;
  }

  #__next {
    @apply h-full w-full;
  }
}
